p {
  border-bottom: 1px solid red;
}

.kermit {
  border: 2px solid green;
}

#main-div-1 {
padding: 10%;
}

#main-div-2 .kermit {
  border: 2px dotted purple;
}

#main-div-2 p {
  background-color: orange;
}








#li-1 {
  font-size: 30px;
}

#li-2 {
  font-weight: bolder;
}

#li-3 {
  text-transform: uppercase;
}

#mystery-ul li:nth-child(2n+1) {
  font-family: 'Mystery Quest', cursive;
}

img {
  width: 200px;
  height: auto;
}

#flex-kermit {
display: flex;
flex-wrap: wrap;
}

input {
  background-color: yellow;
}

input:invalid {

}